.card {
    flex-direction: column;
    max-width: 25em;
    background-color: rgb(255, 255, 255);
    padding: 2em 1.5em;
    border-radius: 2em;
    color: rgb(0, 0, 0);
    gap: 1.5rem;
    .card__title {
      text-align: center;
      font-weight: 500;
      font-size: 1.5em;
    }
    .card__country {
      font-size: 1em;
      font-weight: 700;
      text-align: center;
    }
    .card__body {
      grid-template-columns: 3fr 4fr;
      align-items: center;
      .card__image {
        filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.526));
      }
    }
    .card__temp {
      text-align: center;
      font-weight: 500;
    }
    .card__btn {
      font-size: 1em;
      font-weight: 600;
      background-color: white;
      color: black;
      box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
      padding: 0.6em 1.5em;
      border-radius: 1em;
      transition: all 0.5s;
      &:hover {
        color: white;
        background-color: black;
        padding: 0.6em 2em;
      }
    }
    .info {
      gap: 1em;
      .info__title {
        font-size: 1em;
        text-align: center;
        font-weight: 500;
        text-transform: capitalize;
        &::after,
        &::before {
          content: '"';
        }
      }
      .info__list {
        gap: 0.5em;
        .info__item {
          font-size: 0.9em;
          grid-template-columns: 3fr 3fr;
          .info__label {
            color: rgb(0, 0, 0);
            margin-right: 0.5em;
          }
          .info__value {
            font-weight: 600;
          }
        }
      }
    }
    @media (width > 768px) {
      & {
        font-size: 1.2rem;
      }
    }
    
  }
  .buscar{
    position: relative;
    padding: 5px;

    width: 106px;
    height: 35px;
    padding: 0 20px;
    font-size: 16px;
    color: #222;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;

    transition: all 0.6s ease;
    &:hover{
      width: 240px;
    }

    focus{
      width: 240px;
    }
    
  }
  .icon{
    position: relative;
    top: 3px;
    right:0px;

  

   
    
    background: #440080;
   
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
  }